{% extends 'webapp/base.html' %}

{% load bootstrap3 %}
{%block extrahead%}
<script type="text/javascript">
	$(function ()
        {
		$('#cust_grp').keypress(function(e)
                {
                   if (e.keyCode == 13)
                   {
                       e.preventDefault();
                       if ( confirm("Apply the changes to acronym ?") == true)
                       		$('#ajaxsubmit').click();
                   }
               });
                $('#ajaxsubmit').click(function(){
                       $('#ajax').val(1);
                       $.ajax({
                       type: "POST",
                       url: '/webapp/customergroup/',
                       data: $('#cust_grp').serialize(),
                       dataType: "html",
                       success: function(response){
                               $("#notify").addClass('alert alert-success');
                               $('#notify').html(response);
                       }
       		    });
               });
		$('#cancel').click(function(){
			$.get("/webapp/ajax_request?groupid={{groupid}}", function(data, status){
				var x = $("#acronym").val();
				if  (data != x){
					if ( confirm("Sure you wish to cancel the unsaved changes!") == true)
						window.location.href = "/webapp/customer_grplist/";
				}
				else
					window.location.href = "/webapp/customer_grplist/";		
			});
		});
		$('#acronym').blur(function(){
		       //Reset the select boxes
		       $('#filter_select3 option').prop('selected', true);
	               moveItems('#filter_select3','#filter_select')
		       $('#filter_select option:selected').prop("selected",false);
	
		       var acronym = $('#acronym').val();
                       $.ajax({
                       type: "GET",
                       url: '/webapp/ajax_request/?acronym='+acronym,
    		       dataType: 'json',
                       success: function(response){
				$.each(response.result, function(index, data){
					$('#filter_select option[name="'+data+'"]').prop('selected',true);
	
        	                });
				 moveItems('#filter_select','#filter_select3')

                       }
                    });
               });

		moveItems('#filter_select', '#filter_select3');

		$('#left').click(function () {
	   	 moveItems('#filter_select3', '#filter_select');
		});
	 
		$('#right').click( function () {
		    moveItems('#filter_select', '#filter_select3');
		});
		
		$("#cust_grp").submit( function (){
			$('#ajax').val(0);
			$('#filter_select3 option').prop('selected', true);
		});
	});
	function moveItems(origin, dest) {
                   $(origin).find(':selected').appendTo(dest);
                }

	function select_vm() {
		//initially Reset the select Boxes
		$('#filter_select3 option').prop('selected', true);
                moveItems('#filter_select3','#filter_select')
                //$('#filter_select option').prop('selected', false);	

		var x = $("#acronym").val(); 
		if ($("#acronym").val().length == 0){
                       $('#filter_select3 option').prop('selected', true);
                       moveItems('#filter_select3','#filter_select')
                       $('#filter_select option').prop('selected', false);
		}
		else{
			var acronym_array = x.split(',');
			for(var i = 0; i < acronym_array.length; i++) {
				if (acronym_array[i].indexOf('!') == -1){
					$('#filter_select option[name*="'+acronym_array[i].trim()+'"]').prop('selected',true);
					moveItems('#filter_select','#filter_select3')
					$('#filter_select3 option[name*="'+acronym_array[i].trim()+'"]').prop('selected',false);
				}
				else{
					$('#filter_select3 option[name*="'+acronym_array[i].trim().substring(1)+'"]').prop('selected',true);
		                        moveItems('#filter_select3','#filter_select')
					$('#filter_select option[name*="'+acronym_array[i].trim()+'"]').prop('selected',false);
	
				}
			}
		}
	};

</script>
{%endblock%}
{% block content %}
<div class="container-fluid">
    <!-- Breadcrumb -->
    <div class="row">
      <div>
        <ol class="breadcrumb">
          <li class="active">Add Customer Group</li>
            <li><a href="{{back_url}}" title="back to previous page">Back</a></li>
                <li class="text-danger">{{error_msg}}</li>
        </ol>
      </div> <!-- div class="col..." -->
    <div id="notify"></div>
    <div class="col-xs-4">
    <!-- Catalog selector -->
        <!-- end Catalog selector -->
    </div> <!-- div class="col-xs..." -->
  </div> <!-- div class="row" -->

  <!--<div class="row">
    <div class="col-xs-12"><h3>Djracula/App Summary </h3></div>
        </div>-->
<div>-----------------------------------------------------------------------------------------------------------------------</div>
<form  id = "cust_grp" class="form" role="form" action="/webapp/customergroup/" method="post">
{% csrf_token %}
<div class="form-group col-md-12">
        <div class='col-md-3'>Customer Group Name :</div>
        <input type='text' name='customer_grp'  placeholder="Group Name "value='{{group_name}}' id= 'customer_grp' required/> 
</div>

<div class="form-group col-md-12">
        <div class='col-md-3'>Group Acronym :</div>
        <input type='text' name='acronym'  placeholder="Group Acronym" value='{{group_acronym}}' id= 'acronym' />
	<span class="text-danger">*Free text filter. <i>Eg:terex,trx</i></span>
	<input type="hidden" id="ajax" name="ajax" value="" />
	<button type="button" id="ajaxsubmit" class="btn btn-primary" style="margin-left:67%;">Apply</button>
</div>

<div class="form-group col-md-12" id ='vm'>
        <div class='col-md-3'>Select VM/Servers to group : </div>
	<select multiple id ="filter_select" class='col-md-4' style="height:500px; padding:0;">
	{{selected_vmlist}}
        {%for vm in vmlist%}
                 <option value="{{vm}}" name="{{vm}}" {%if vm in selected_vmlist%} selected="selected" {%endif%}>{{vm}}</option>
        {%endfor%}
	</select>
	<div class='col-md-1'>
	<input type="button" id="left" value="<" />
        <input type="button" id="right" value=">" />
	</div>
	<select multiple='multiple' id ="filter_select3" class='col-md-4' style="height:500px; padding:0;" name="vmlist">
        </select>



</div>


<input type="hidden" name="groupid" value="{{groupid}}"/>
<div>
{% buttons %}
	<button type="submit" class="btn btn-primary">Save</button>
        <button type="button" id="cancel" class="btn" >Cancel</button>
{% endbuttons %}
</form>
</div>

{% endblock %}


