{% extends 'webapp/base.html' %}

{% load bootstrap3 %}

{%block extrahead%}
<script type="text/javascript">	
$(function ()
        {

	if ($("#sourceid").val() == 0)
		$('#limit').hide();	
	$( "#csvexport" ).submit(function() {
		var reslist = {% autoescape off %}{{reslist}}{%endautoescape %}
		$("#csvpost").val(JSON.stringify(reslist))
	});
	$("#vmreport_filter").submit(function() {
		$("#notify").html('<b>Processing Request.....</b>')	
	});
	$("#filterinput2").keyup(function() {

   		if (!this.value) {
		        $('select#filter_select2 option').removeAttr("selected");
		    }

	});
	$("#savegrp").click(function() {
		var res = [];
	        $.each($("#filter_select2 option:selected"), function(){            
        	    res.push($(this).val());
        	});
		$("#savegrp").attr("href", "/webapp/customergroup?vmlist="+res)
        });
	//setup before functions
	var typingTimer;                //timer identifier
	var doneTypingInterval = 2000;  //time in ms, 5 second for example
	var $input = $('#filterinput2');

	//on keyup, start the countdown
	$input.on('keyup', function () {
	  clearTimeout(typingTimer);
	  typingTimer = setTimeout(doneTyping, doneTypingInterval);
	});

	//on keydown, clear the countdown 
	$input.on('keydown', function () {
	  clearTimeout(typingTimer);
	});

	//user is "finished typing," do something
	function doneTyping () {
	   $("#vmreport_filter").submit()
	}

});
</script>
{%endblock%}
{% block content %}
<div class="container-fluid">
 <!-- Breadcrumb -->
 <div class="row">
      <div>
        <ol class="breadcrumb">
          <li class="active">VM aand Disk Report</li>
            <li><a href="{{back_url}}" title="back to previous page">Back</a></li>
               {%if error_msg%} <li class="text-danger">{{error_msg}}</li>{%endif%}
		<li class="text-primary" id ='notify'></li>

        </ol>
      </div> <!-- div class="col..." -->
 </div> <!-- div class="row" -->
 <div class="row">
  <div class="col-sm-9">

    <h4>Total disk usage =  {{total_usage}}</h4>
    <div class="pull-right">
	<form id = "csvexport" class="form" role="form" action="/webapp/csvexport/" method="POST">	
		{% csrf_token %}
		<input type="hidden" id ="csvpost" name='reslist' value="" />
		<button type="submit" id="CSVbutton" class="btn btn-primary"> CSV Export</button>
	</form>
    </div>
    {%for res in reslist%}
      <ul>
        <li><h5><u>{{res.vm_name}}</u> (server- <b>{{res.servername}}</b>)</h5>  Total Disk size = {{res.total_size}}</li>
       </ul>
       <table class='table table-bordered table-hover table-striped' style="table-layout: fixed; word-wrap: break-word;">
         <tr class="text-center">
           <th>Repo Name</th>
           <th>Disk Id</th>
           <th>Disk Name</td>
           <th>Disk Size</th>
         </tr>

         {%for elem  in res.disk_list %}
	  <tr  {%for discard_str in exclude_list%}{%if discard_str in elem.name|lower%} class="warning" {%endif%}{%endfor%}
	       {%if '.img'  in elem.name|lower%} class="info"{%endif%} style="text-align:center"> 
             <td>{{elem.repo_name}}</td>
             <td>{{elem.id}}</td>
             <td>{{elem.name}}</td>
             <td>{{elem.size}}</td>
           </tr>
          {%endfor%}
       </table>
     {%endfor%}
   </div>
   <div class="col-sm-3">
	 <form id = "vmreport_filter" class="form" role="form" action="/webapp/vmreport/" method="POST">
	{% csrf_token %}
         <label>Filters</label>
	
	<div class="form-group">
           <span>Select Source</span>
           <select name="source" id = 'sourceid' onchange="this.form.submit()" class="input-sm" style="width:260px;">
		<option value="0" {%ifequal source 0%}selected=""{%endifequal%}>All</option>
                <option value="1" {%ifequal source 1%}selected=""{%endifequal%}>OVM</option>
		<option value="2" {%ifequal source 2%}selected=""{%endifequal%}>Infinibox</option>
		<option value="3" {%ifequal source 3%}selected=""{%endifequal%}>VMware</option>
		<option value="4" {%ifequal source 4%}selected=""{%endifequal%}>3Par</option>
           </select>
         </div>
	
	<div class="form-group">
           <span>Select Customer Group</span>

	   <!--input id="filterinput1" name="grp_filter" class="input-sm" placeholder="Search Customer Group" autocmplete="off"-->
           <select name="group" id = "filter_select1" onchange="this.form.submit()" class="input-sm" style="width:260px;">
                <option value="0" {%ifequal cust_grp 0%}selected=""{%endifequal%}>All</option>
                {%for grp in customergrouplist%}
                  <option label={{grp.name}} value={{grp.groupnameid}} {%ifequal grp.groupnameid cust_grp%}selected=""{%endifequal%}>{{grp.name}}</option>
                {%endfor%}
           </select>
         </div>
		
	<div class="form-group">
           <span>Select Server</span>
	   <input type="text"  id = "filterinput2" class="input-sm" placeholder="Search Server/VM" autocomplete="off"> 
		<a href= "" target="_blank" id = "savegrp" >Save group</a>
           <select multiple="multiple" id = 'filter_select2'  name="server"  class="input-sm" style="width:260px;height:200px;">
                <option value=0 {%if '' in server %}selected=""{%endif%}>All</option>
                {%for s in serverlist%}
                  <option value={{s.value}} {%if s.value in server%}selected=""{%endif%}>{{s.name}}</option>
                {%endfor%}
           </select>
         </div>
	<!--div  id='limit' class="form-group">
           <span>Number of Records</span>
           <select name="limit" id= "selectLimit" class="input-sm" style="width:260px;">
		<option value="0" {%ifequal limit 0 %}selected=""{%endifequal%}>All</option>
		<option value="10" {%ifequal limit 10 %}selected=""{%endifequal%}>10</option>
		<option value="25" {%ifequal limit 25 %}selected=""{%endifequal%}>25</option>
		<option value="50" {%ifequal limit 50 %}selected=""{%endifequal%}>50</option>
		<option value="100" {%ifequal limit 100 %}selected=""{%endifequal%}>100</option>
           </select>
         </div>
	{% buttons %}
		<button type="submit" class="btn btn-primary"> Apply</button>
                <button type="reset" class="btn" onClick = "location.href='/webapp/vmreport'">Reset</button>
        {% endbuttons %}-->
	</form>
   </div>
  </div>
</div>
{%endblock%}
