{% extends  "webapp/base.html" %}
{%block content%}
<div class="container-fluid">
    <!-- Breadcrumb -->
    <div class="row">
      <div>
        <ol class="breadcrumb">
          <li class="active">Change Password</li>
		{%if update == 0%}
		<li><a href="{{back_url}}">Back</a></li>
		{% else%}
		<form action="{{url}}" method = 'post'>{%csrf_token%}
			<a href='#' onclick="$(this).closest('form').submit()"> Try Again</a>
		        <input type="hidden" name="userid" value={{id}} />
			<input type="hidden" name="direct" value={{direct}} />
	        </form>
		{%endif%}
                {% if error%}
                <p class="text-danger">{{error}}</p>
                {%endif%}
        </ol>
      </div> 
  </div> <!-- div class="row" -->
</div>
<div class ="col-xs-9 col-lg-10">
{% if not error%}
        {%if id%}
        <form action="/webapp/password/" method = 'post'>{%csrf_token%}
        {{form.as_ul}}
	<input type = "hidden" name="update" value=1 />
	<input type="hidden" name="userid" value={{id}} />
	<input type="hidden" name="direct" value="{{direct}}" />
        <input type  = 'submit' value='Update'/>
        </form>
        {%endif%}
{%endif%}
</div>
{%endblock%}

