{% extends  "webapp/base.html" %}
{%block content%}
<div class="container-fluid">
    <!-- Breadcrumb -->
    <div class="row">
      <div>
        <ol class="breadcrumb">
          <li class="active">Change Password</li>
            <li><a href="{{url}}" title="back to previous page">Back</a></li>
                {% if error%}
                <p class="text-danger">{{error}}</p>
                {%endif%}
        </ol>
      </div> 
  </div> <!-- div class="row" -->
</div>
<div class ="col-xs-9 col-lg-10">
{% if not error%}
        {%if id%}
        <form action="/webapp/password/{{id}}/" method = 'post'>{%csrf_token%}
        {{form.as_ul}}
        <input type  = 'submit' value='Update'/>
        </form>
        {%endif%}
{%endif%}
</div>
{%endblock%}

