{% extends 'webapp/base.html' %}

{% block content %}
<div class="container-fluid">
 <!-- Breadcrumb -->
 <div class="row">
      <div>
        <ol class="breadcrumb">
          <li class="active">Unmapped VM and Disk Report</li>
            <li><a href="{{back_url}}" title="back to previous page">Back</a></li>
               {%if error_msg%} <li class="text-danger">{{error_msg}}</li>{%endif%}
                <li class="text-primary" id ='notify'></li>

        </ol>
      </div> <!-- div class="col..." -->
 </div> <!-- div class="row" -->
 <div class="row">
  <div class="col-sm-9">
    {%if error_msg == ''%}
	<div class="row">
		<div class="col-sm-4" style="border:1px; width:inherit; background-color: #FFFF66;">Total Usage =  {{total_size}}  </div>
	</div>
	{%for key,value in res_dict.items %}
        	<ul>
			<li> <h5><b> {{key}}</b></h5> Total Disk size =  {{value.total_size}}</li>
		</ul>
	       <table class='table table-bordered table-hover table-striped' style="table-layout: fixed; word-wrap: break-word;">
        	 <tr class="text-center">
    		   <th>Source</th>
		   <th>Repo Name</th>
	           <th>Disk Name</th>
        	   <th>Disk Id</th>
	           <th>Disk Size</th>
        	 </tr>
         {%for elem  in value.disk_list %}
	  <tr>
	     <td>{{value.source}}</td>
	     <td>{{elem.repo}}</td>
	     <td>{{elem.name}}</td>
             <td>{{elem.id}}</td>
             <td>{{elem.size}}</td>
           </tr>
        {%endfor%}
       </table>
	{%endfor%}
      {%endif%}

   <p style="background-color: #F3D2D8;">{{error_notify}}</p>
   </div>
</div>
</div>
{%endblock%}
