{% extends 'webapp/base.html' %}

{% block content %}
<div class="container-fluid">
 <!-- Breadcrumb -->
 <div class="row">
      <div>
        <ol class="breadcrumb">
          <li class="active">Unmapped VM and Disk Report</li>
            <li><a href="{{back_url}}" title="back to previous page">Back</a></li>
               {%if error_msg%} <li class="text-danger">{{error_msg}}</li>{%endif%}
                <li class="text-primary" id ='notify'></li>

        </ol>
      </div> <!-- div class="col..." -->
 </div> <!-- div class="row" -->
 <div class="row">
  <div class="col-sm-9">
    {%if error_msg == ''%}
    {% for item in res_list %}
        {% for key, res in item.items %}
	{% if res.count > 0 %}
        <ul>
        <li><h5><u>{{res.vm_name}}</u> (server- <b>{{key}}</b>)</h5>  Total Disk size = {{res.total_size}}</li>
       </ul>
       <table class='table table-bordered table-hover table-striped' style="table-layout: fixed; word-wrap: break-word;">
         <tr class="text-center">
           <th>Repo Name</th>
           <th>Disk Id</th>
           <th>Disk Name</td>
           <th>Disk Size</th>
         </tr>
         {%for elem  in res.disk_list %}
          <tr  {%for discard_str in exclude_list%}{%if discard_str in elem.name|lower%} class="warning" {%endif%}{%endfor%}
               {%if '.img'  in elem.name|lower%} class="info"{%endif%} style="text-align:center">
             <td>{{elem.repo_name}}</td>
             <td>{{elem.id}}</td>
	     <td>{{elem.name}}</td>
             <td>{{elem.size}}</td>
           </tr>
        {%endfor%}
       </table>
      {%endif%}

     {%endfor%}
   {%endfor%}
    {%endif%}
   <p style="background-color: #F3D2D8;">{{error_notify}}</p>
   </div>
</div>
</div>
{%endblock%}
