{% extends 'webapp/base.html' %}

{% block content %}
<div class="container-fluid">
 <!-- Breadcrumb -->
 <div class="row">
      <div>
        <ol class="breadcrumb">
          <li class="active">Unmapped VM and Disk Report</li>
            <li><a href="{{back_url}}" title="back to previous page">Back</a></li>
               {%if error_msg%} <li class="text-danger">{{error_msg}}</li>{%endif%}
                <li class="text-primary" id ='notify'></li>

        </ol>
      </div> <!-- div class="col..." -->
 </div> <!-- div class="row" -->
 <div class="row">
  <div class="col-sm-9">
    {%if error_msg == ''%}
       {%for res  in res_list %}
	{%for key,value in res.items%}
        	<ul><b>{{key}}</b></ul>
	       <table class='table table-bordered table-hover table-striped' style="table-layout: fixed; word-wrap: break-word;">
        	 <tr class="text-center">
	           <th>Disk Name</th>
        	   <th>Disk Id</th>
	           <th>Disk Size</th>
        	 </tr>
         {%for elem  in value %}
          <tr  {%for discard_str in exclude_list%}{%if discard_str in elem.name|lower%} class="warning" {%endif%}{%endfor%}
               {%if '.img'  in elem.name|lower%} class="info"{%endif%} style="text-align:center">
	     <td>{{elem.name}}</td>
             <td>{{elem.id}}</td>
             <td>{{elem.size}}</td>
           </tr>
        {%endfor%}
       </table>
	{%endfor%}
      {%endfor%}
      {%endif%}

   <p style="background-color: #F3D2D8;">{{error_notify}}</p>
   </div>
</div>
</div>
{%endblock%}
